/* Rotate */
.logo{
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	margin-top: 1em;
	position: static;
}
.logo:hover{
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}